*~
*.o
*.swp
*.bak
*cache.lib
*.pyc
*.egg-info
*.egg
*.tar.gz
data.txt
data.pkl
__pycache__
software/python/potentiostat/build
software/javascript/app/dist
_build
node_modules
rescue-backup
software/python/potentiostat/examples/scratch/emitterTest.py
software/python/potentiostat/examples/scratch/ecl_1.txt
software/python/potentiostat/examples/scratch/drawnowtest.py
software/python/potentiostat/examples/emitterTest.py
software/python/potentiostat/examples/drawnowtest.py
software/python/potentiostat/examples/drawnowtest.py
software/python/potentiostat/potentiostat/scratch
*.whl
software/python/potentiostat/potentiostat/pyformulastest.py
software/python/potentiostat/potentiostat/scratch/pyformulastest.py
bridge/serial_bridge/
firmwareECL/.DS_Store
firmwareECL/TeensyECL_Ver01/.DS_Store
firmwareECL/TeensyECL_Ver03/ecl.h
firmwareECL/TeensyECL_Ver03/ecl.ino
firmwareECL/TeensyECL_Ver03/TeensyECL_Ver03.ino
firmwareECL/TeensyECL_Ver03a.zip
bridge/echo_server.py
bridge/ser2sockTest.py
bridge/tcp_serial_redirect.py
*.so
*.dylib
*.zip
*.deprecated
firmwareECL/.DS_Store
firmwareECL/TeensyECL_Ver01/.DS_Store
software/python/potentiostat/eclometer/interfaces/deprecated
software/python/potentiostat/eclometer/interfaces/ecl_0.txt
software/python/potentiostat/eclometer/interfaces/gooeyTest.build
software/python/potentiostat/examples/cyclic_0.txt
software/python/potentiostat/examples/cyclic_1.txt
software/python/potentiostat/examples/cyclic_2.txt
firmwareECL/TeensyECL_Ver01/.DS_Store
firmwareECL/.DS_Store
firmwareECL/TeensyECL_Ver01/.DS_Store
firmwareECL/TeensyECL_Ver01/.DS_Store
firmwareECL/.DS_Store
software/python/potentiostat/ecl.spec.REFERENCE
software/python/potentiostat/eclometer/interfaces/ecl_1.txt
software/python/potentiostat/eclometer/interfaces/eclrun-withClassNotWOrking.py
software/python/potentiostat/eclometer/interfaces/eclrun.classBroken.py
software/python/potentiostat/eclometer/interfaces/eclrun.classBrokenHalfGone.py
