*~
*.o
*.swp
*.bak
*cache.lib
*.pyc
*.egg-info
*.egg
*.tar.gz
data.txt
data.pkl
__pycache__
software/python/potentiostat/build
software/javascript/app/dist
_build
node_modules
rescue-backup
software/python/potentiostat/examples/scratch/emitterTest.py
software/python/potentiostat/examples/scratch/ecl_1.txt
software/python/potentiostat/examples/scratch/drawnowtest.py
software/python/potentiostat/examples/emitterTest.py
software/python/potentiostat/examples/drawnowtest.py
software/python/potentiostat/examples/drawnowtest.py
